@value cdGrey, cWhite, cBlack, cddGrey, cGrey from '../../components/common/color.css';

.video {
  width: 60%;
  padding: 1.5em;
  color: cWhite;
  background: cBlack;
}
.iframe {
  display: flex;
  justify-content: center;
}
.iframe iframe{
  width: 90vw;
  height: 30vw;
}
.info {
  padding: 1.5em 1em;
}
.info h2 {
  margin-bottom: 0.5em;
}

.info_detail {
  display: flex;
}
.info_detail img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 1em;
}
.channel_info {
  padding-top: 1em;
  padding-bottom: 1.5em;
}
.channel_info h3 {
  margin-bottom: 0.5em;
  line-height: 0.5;
}
.channel_info span {
  color: cGrey;
  font-size: 0.9em;
}
.info_detail pre {
  font-family: inherit;
  white-space: pre-wrap;
  line-height: 1.5;
}

@media screen and (max-width:50em) {
  .video {
    width: 100%;
  }
  .iframe iframe{
    width: 90vw;
    height: 50vw;
  }
}